.well{
 background-color: #f1ecec;   
}

.xbreadcrumb{
    background-color: #ffffff
}

body{
    font-family: 'Roboto', sans-serif;
}

.outside{
    background-color: #f5f3f3;   
}
.panel > .panel_dra {
    background-image: none;
    background-color: white;
}
