@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
.well{
 background-color: #f1ecec;   
}

.breadcrumb{
    background-color: #ffffff
}

body,p{
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
}

.outside{
    background-color: #f5f3f3;   
}
.panel > .panel_dra {
    background-image: none;
    background-color: white;
}

.titles{
    font-size: 17pt;
}

p{
    font-size: 15pt;
}
