<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body >

    {% include header.html %}
    
      <div class="banner">
          <img src="/img/banner.png" width="100%" height="400"></img>
      </div>
    <div class="container">
    
    <div class="row" >
      <div class="col-sm-8">
        <section>
          <div class="wrapper" style="min-height:600px;">
            {{ content }}
          </div>
          
        </section>
      </div>
      
      <div class="col-sm-3 col-sm-offset-1">
        <h3><strong>Categories</strong></h3>
        <div class="well">
        
       
        <div class="panel-group" id="panelgroup1">
            {% for post in site.posts %}
            {% for cate in post.categories%}
            <div class="panel panel-info">
              <div class="panel-heading" role="tab" id="paneltitle1">
                <h4 class="panel-title">
                  <a href="#{{ cate }}" data-toggle="collapse" data-parent="#panelgroup1">{{ cate }}</a>
                </h4>
              </div>
              
              <div class="panel-collapse collapse" role="tabpanel" id="{{ cate }}">
                
                  <ul class="list-group">
                      {% for tag in post.tags %}
                      <a href="#" class="list-group-item">{{ tag }}</a>
                      {% endfor %}
                  </ul>
              </div>
            </div>  
          

            
           
        
      
        {% endfor %}
        {% endfor %} 
      </div>
      </div>    
            
          
        
        
      </div>
     
    </div>
 
   
    {% include footer.html %}
  </body>
  

</html>
