---
layout: default
---

<div class="tags">
    <br><span class="glyphicon glyphicon-tags">&nbsp;</span><h3  style="display:inline;"><strong>Tags: {{ page.title }}</strong></h3>
    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
    {% for post in site.posts %}
        {% if post.tags contains page.title %}
        <h4><ol class="breadcrumb">
            <li><a href="{{ post.url | relative_url }}">{{ post.date | date: date_format }}</a></li>
            <li><a href="/mcategories/{{ post.categories[0] }}">{{ post.categories[0] }}</a></li>
            <li><a href="/mcategories/{{ post.categories[0] }}/{{ post.categories[1] }}">{{ post.categories[1] }}</a></li>
        </ol></h4>
        <div class="panel panel-default">
            <div class="panel-heading panel_dra">
              <div class="panel-title pull-left">
                <a class="post-link" href="{{ post.url | relative_url }}"><strong>【{{ post.categories[1] }}】{{ post.title | escape }}</strong></a>
              </div>
              <div class="panel-title pull-right">
                 <span class="post-meta">{{ post.date | date: date_format }}</span> 
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                {{ post.excerpt }}
              <div class="read-more">
                  <br><a class="btn btn-default" href="{{ BASE_PATH }}{{ post.url }}">READ MORE</a>
              </div><br>  
            </div>
            <div class="panel-footer panel_dra">
                <span class="glyphicon glyphicon-tag"></span>
                {% for tag in post.tags %}
                <a href="/mtags/{{  tag }}"><span class="label label-default">{{ tag }}</span></a>&nbsp;
                {% endfor %} 
            </div>
        </div><hr>
        {% endif %}
    {% endfor%}
</div>